

:root {
  --soft-cyan: #66e2dc;
  --soft-red: #fa7453;
  --light-orange: #ffb964;
  --light-grayish-orange:#fcfaf9;
  --very-dark-black: #191826;
  --font-family:'IBM Plex Sans, Roboto Condensed', sans-serif;  
}
*{
  font-family:var(--font-family);
}
body{
  box-sizing: border-box;   
  padding: 0;
  margin: 0;
  background-color: var(--light-grayish-orange);
}

.container{
  width: fit-content;
  margin: 0;
  background-image: url('./assets/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center top;
  background-position-y: -150px;
  background-position-x: -90px;

}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.text{
  margin:0 0 0 5rem;
  width: 100%;
}
.logo{
  padding-top:3rem;
  margin-bottom: 2rem;
}
.text h1{
  font-family: 'IBM Plex Sans';
  font-weight: 800;
  font-size: 77px;
  letter-spacing: -1px;
  width: 800px;
  position: relative;
  line-height: 100%;
}
.text p{
  font-weight: 400;
  font-size: 20px;
  width:850px;
  /* position: relative; */
}
.pattern_img{
  height: 350px;
  position: relative;
  top: -5rem;
  /* margin-top: -11rem;
  margin-left: 0; */
}

/*======= middle Section(download section======= */

.dark_container {
  background-repeat: no-repeat;
  background-position: top center;
}
.dark_row {
  background: url('./assets/bg-pattern-2.svg');
  background-color: var(--very-dark-black);
  background-repeat: no-repeat;
  background-position: top center;
  width: 1100px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 18rem 0 0 0;
  position: relative;
  right: 10rem;
  left: 10rem;
}
.phone{
  width: 312px;
  height: 642px;
  margin-top: -11rem;
  margin-left: 5.9rem;
}
.premium_Eq{
  background-color: var(--soft-red);
  width: 350px;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
  margin-top: 12rem;
  margin-right: 5rem;
}
.premium_content{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.premium_Eq h2{
  font-size: 2rem;
}
.price{
  display: flex;
  margin-bottom: 1.5rem;
}
.price p{
  margin-left: 0.5rem;
}
span{
  font-size: 40px;
  font-weight: bold;
}
a{
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.btn_icon{
  width: 250px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}
.icon{
  margin: -1px 10px;
  padding-right: 0.5rem;

}
.apple{
  background-color: var(--very-dark-black);
  
}
.apple:hover{
  background-color: var(--soft-cyan);
}
.android{
  color: black;
  background-color: var(--light-grayish-orange);
}
.android:hover{
  background-color: var(--light-orange);
}

/* ======footer==== */

footer{
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-column{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-right: 10rem; */

}
.footer_logo{
  margin-left: 6rem;
  margin-right: 10rem;
}
.footer_reserve{
  margin-top: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_reserve p{
 width: 400px;
 align-items: start;
}
.footer_reserve p span{
  font-size: 20px;
}
.social_icons{
margin-right: 4rem;
}
.social_icon{
  margin: 0.2rem;
}
.social_icon:hover{
  background-color: var(--light-orange);
}


/* =====CSS Media Quiries =====*/


/*max- width 767px phones*/


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container{
    background-image: url('./assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center top;
    width: 100%;
  }
  .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    width: 300px;
  }
  .logo{
    position: relative;
    right: 5rem;
  }
  .text h1{
    font-weight: 800;
    font-size: 35px;
    width:300px;
  }
  .text p{
    width:300px;
    font-weight: 400;
    font-size: 20px;
    position: relative;
  }
  .pattern_img{
    display: none;
  }
  .dark_container {
    background-image: url('./assets/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    padding: 0;
  }
  .dark_row {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    right:0;
  }
  .mobile-phone{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .phone{
    width: 200px;
    height: 400px;
    position: relative;
    top: 10rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .premium_Eq{
    background-color: var(--soft-red);
    width: 100%;
    height: 500px;
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
  }
  .premium_content{
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .premium_Eq h2{
    font-size: 2rem;
  }
  
 
  /* .footer{
    margin-top: 20rem;
  } */

  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .row{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0 0 0 2rem;
  }
  .footer-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    /* margin-right: 10rem; */
  }
  .footer_logo{
    margin-left: 6rem;
    margin-right: 0;
  }
  .footer_logo{
    margin: 3rem 5rem 0rem 0rem;
  }
  .footer_reserve{
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }
  .footer_reserve p{
   width: 200px;
   /* justify-content: start; */
   align-items: start;
   margin-bottom: 1.5rem;
  }
  .footer_reserve p span{
    font-size: 20px;
  }
  .social_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .social_icons{
    margin-right: 4rem;
    }
 
}
/* Max-width = 1020pixel Tablets*/
@media only screen  and (min-width: 768px) and (max-width: 1020px) {
  .container{
    margin-top: -20px;
    padding: 0;
    width: 100%;
  }
  .text{
    width: 400px;
    height: 332px;
    padding: 1rem;
    margin:3rem 0 5rem 3rem ;
  }
  .text h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -1px;
    width:400px;
  }
  .text p{
    width: 400px;
    font-size: 20px;
  }
  .pattern_img{
    margin-left:0;
  }
 
  .dark_row {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    display: flex;
    position: relative;
    left: 0;
    right:0;
  }
  .phone{
    position: absolute;
    left: 10px;
  }
  .premium_Eq{
    position: absolute;
    right: 20px;
  }
  .social_icons{
    margin-top: 3rem;
    margin-right:2rem ;
  }
  .footer-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin-left: 5rem;
  }
  .footer_logo{
    margin-left: 0;
    margin-right: 0;
  }
  .footer_reserve{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }
  
}
@media only screen and (min-width: 1021px){
  .container{
    width: 100%;
  }
  .dark_container{
    width: 100%;
  }
  /* .pattern_img{
  } */
  .dark_row {
    background: url('./assets/bg-pattern-2.svg');
    background-color: var(--very-dark-black);
    background-repeat: no-repeat;
    background-position: top center;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 18rem 0 0 0;
    position: relative;
    /* right: 10rem; */
    /* left: 10rem; */
  }
}